@use "./utils/mixins" as mxn;
@use "./utils/colors" as clr;
@use "./components/navbar";
@use "./components/footer";

*::after,
*::before,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 16px;
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
}
body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
//Scroll
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border: 1px solid rgba(clr.$primary-green, 0.7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: clr.$primary-bnp;
  border-radius: 100vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: clr.$primary-green;
}
// Header
header {
  height: 100vw;
  height: 100vh;
  box-shadow: clr.$box-shadow-dark;
  // Navbar
  section {
    height: 100%;
    width: 100%;
    padding-block: 5em;
    @include mxn.flex-center(row);
    position: relative;
    .transbar {
      position: absolute;
      bottom: 1em;
      left: 0;
      right: 0;
      align-items: center;
      justify-content: center;
      color: rgba(white, 0.9);
      display: flex;
      gap: 1em;
      @include mxn.lg {
        gap: 0;
        width: 100%;
      }
      @include mxn.xl {
        font-size: 0.8rem;
      }
      @include mxn.sm {
        flex-wrap: wrap;
      }
      .part {
        @include mxn.lg {
          flex: 1;
          height: 4rem;
          text-align: center;
          border-radius: 0;
          @include mxn.flex-center(row);
        }
        @include mxn.sm {
          font-size: 0.65rem;
          min-width: max-content;
        }
        @include mxn.xs {
          font-size: 0.6rem;
        }
        text-transform: uppercase;
        position: relative;
        border-radius: 1em;
        cursor: pointer;
        border: 1px solid clr.$secondary-green;
        padding: 0.5em 1em;
        background: clr.$primary-bnp;
        transition: all 200ms ease-in;
        &:hover {
          background: clr.$primary-bnp-opacity;
        }
        &:hover::before {
          display: block;
        }
        &::before {
          display: none;
          border-radius: 1em;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          font-size: 0.9em;
          max-height: 4em;
          width: max-content;
          background: rgba(black, 0.8);
          border: 1px solid clr.$secondary-green;
          padding: 1em;
          top: -175%;
          @include mxn.lg {
            top: -100%;
          }
          @include mxn.sm {
            top: -70%;
          }
        }
        &:first-child:before {
          content: "Ouvrez un compte en toute simplicité et sécurité";
        }
        &:nth-child(2):before {
          content: "Sélectionnez votre carte selon votre besoin";
        }
        &:nth-child(3):before {
          content: "Consulter et réaliser vos opérations bancaires à distance";
        }
        &:nth-child(4):before {
          content: "Financez votre bien immobilier ou vos projets";
        }
        &:nth-child(5):before {
          content: "Mettez de l'argent de coté pour préparer vos projets";
        }
        &:nth-child(6):before {
          content: "MAssurez votre famille, vos biens et vous-mème";
        }
        &:last-child:before {
          content: "Gagnez du temps en agence";
        }
        svg {
          fill: rgba(white, 0.9);
          height: 1em;
        }
      }
    }

    .main__container {
      position: relative;
      height: 100%;
      width: 100%;
      @include mxn.flex-center(row);
      .logo__img {
        position: relative;
        top: -15%;
        background-image: url("/assets/icons/la-banque-dun-monde-qui-change.jpg");
        width: 30%;
        @include mxn.sm {
          width: 40%;
        }
        @include mxn.xs {
          width: 80%;
        }
        aspect-ratio: 5/2;
        background-size: cover;
        object-fit: contain;
        background-repeat: no-repeat;
        mix-blend-mode: color-burn;
        .btn__container {
          position: absolute;
          bottom: -110%;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5em;
          @include mxn.lg {
            bottom: -150%;
          }
          @include mxn.sm {
            bottom: -120%;
            width: 120%;
          }
          @include mxn.xs {
            bottom: -95%;
            width: 180%;
          }
          button {
            width: 50%;
            cursor: pointer;
            background: clr.$primary-bnp;
            border: none;
            color: rgba(white, 0.9);
            font-size: 1.2rem;
            padding: 1rem 0;
            border-radius: 1rem;
            transition: opacity 150ms ease-in;
            @include mxn.lg {
              font-size: 0.75rem;
              padding: 0.5rem;
            }
            @include mxn.sm {
              font-size: 0.7rem;
              padding: 0.5rem 0.25rem;
            }
            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
      .card {
        width: 20%;
        position: absolute;
        top: 4em;
        right: 3em;
        padding: 1em;
        border-radius: 1rem;
        transform: rotate(-5deg);
        aspect-ratio: 4/3;
        background: #039360;
        box-shadow: clr.$box-shadow-dark;
        transition: all 500ms ease-in-out;
        @include mxn.flex-center(row);
        cursor: pointer;
        @include mxn.lg {
          width: 22.5%;
        }
        @include mxn.md {
          width: 22%;
          padding: 0 0.5rem;
        }
        @include mxn.sm {
          width: 30%;
          padding: 0px;
          top: 0;
        }
        .content {
          position: absolute;
          width: 100%;
          height: 100%;
          backdrop-filter: saturate(140%);
          opacity: 0;
          transition: opacity 300ms ease-in-out;
          @include mxn.flex-center(row);
          button {
            padding: 1em;
            border: 1px solid clr.$primary-green-opacity;
            background: clr.$primary-bnp;
            color: white;
            cursor: pointer;
            border-radius: 1em;
          }
        }
        &:hover .content {
          opacity: 1;
        }
        .img {
          height: 80%;
          width: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        &.one {
          transform: rotate(5deg);
          top: 60%;
          @include mxn.sm {
            top: 65%;
          }

          .img {
            background-image: url("/assets/header__slider/banner-visa-BNPP_1400x600-FR.jpg");
          }
        }
        &.eone {
          transform: rotate(5deg);
          top: 60%;
          @include mxn.sm {
            top: 65%;
          }

          .img {
            background-image: url("/assets/header__slider/e1.png");
          }
        }
        &.pone {
          transform: rotate(5deg);
          top: 60%;
          @include mxn.sm {
            top: 0%;
          }

          .img {
            background-image: url("/assets/header__slider/pro1.jpg");
          }
        }

        &.two {
          transform: rotate(5deg);
          left: 3em;
          .img {
            background-image: url("/assets/header__slider/Bannière-GAB-rechargement-crédit-mobile-2000x550px.jpg");
          }
        }
        &.etwo {
          transform: rotate(5deg);
          left: 3em;
          .img {
            background-image: url("/assets/header__slider/pro1.jpg");
          }
        }
        &.ptwo {
          transform: rotate(5deg);
          left: 3em;
          top: 40%;
          @include mxn.sm {
            top: 0;
          }
          .img {
            background-image: url("/assets/header__slider/pro2.jpg");
          }
        }
        &.three {
          transform: rotate(-5deg);
          top: 60%;
          left: 3em;
          @include mxn.sm {
            top: 65%;
          }
          .img {
            background-image: url("/assets/header__slider/Bannière-web_2000x550px.jpg");
          }
        }
        &.ethree {
          transform: rotate(-5deg);
          top: 60%;
          left: 3em;
          @include mxn.sm {
            top: 65%;
          }
          .img {
            background-image: url("/assets/header__slider/e3.jpg");
          }
        }
        &.pthree {
          transform: rotate(-5deg);
          top: 10%;
          @include mxn.sm {
            top: 65%;
          }

          .img {
            background-image: url("/assets/header__slider/pro3.jpg");
          }
        }

        &.four {
          transform: rotate(-5deg);
          right: 3em;
          .img {
            background-image: url("/assets/header__slider/BNP_22_07_GAB_depot_banner_site_2000x550_BAT1.jpg");
          }
        }
        &.efour {
          transform: rotate(-5deg);
          right: 3em;
          .img {
            background-image: url("/assets/header__slider/e4.jpg");
          }
        }
        &:hover {
          width: 30%;
          aspect-ratio: 2;
          transform: rotate(0);
        }
      }
    }
  }
}
// Devenir client seciont
.devenir__client {
  @include mxn.flex-center(row);
  padding-inline: 10%;
  @include mxn.lg {
    padding-inline: 2rem;
  }
  @include mxn.md {
    flex-direction: column;
  }
  padding-block: 5em;
  width: 100%;
  gap: 2em;
  overflow: hidden;
  .img__container {
    //Intersection
    transform: translateX(-100%);
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    width: 100%;
    transition: all 1s ease-in-out;
    &.appear {
      opacity: 1;
      transform: translateX(0);
    }
    h1 {
      text-align: center;
    }
    h1 {
      &:last-of-type {
        font-weight: 400;
        color: clr.$primary-green;
      }
    }
    .img {
      border-radius: 50vw;
      aspect-ratio: 1;
      background-image: url("/assets/bnp/bnp-s.jpg");
      background-position: center;
      background-size: cover;
      margin-top: 2em;
      height: 40%;
      width: 50%;
      margin-inline: auto;
    }
  }
  .devenir__client__content {
    //Intersection
    border: 1px solid rgba(black, 0.1);
    background: rgba(black, 0.06);
    border-radius: 2em;
    box-shadow: clr.$box-shadow-dark;
    opacity: 0;
    transform: translateX(100%);
    height: 100%;
    padding: 2em;
    transition: all 1s ease-in-out;
    width: 100%;
    @include mxn.sm {
      font-size: 0.8rem;
    }
    &.appear {
      opacity: 1;
      transform: translateX(0);
    }
    h1 {
      font-weight: 400;
      text-align: center;
      @include mxn.xs {
        font-size: 1.3rem;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      padding: 1em;
      align-items: flex-start;
      justify-content: space-around;
      li {
        list-style: circle;
        width: 100%;
        padding-block: 1em;
        border-bottom: 1px solid rgba(black, 0.1);
        &:last-of-type {
          border-bottom: none;
        }
        p {
          font-weight: 600;
          font-size: 1.1rem;
          @include mxn.lg {
            font-size: 1rem;
          }
          @include mxn.sm {
            font-size: 0.9rem;
          }
          @include mxn.xs {
            font-size: 0.8rem;
          }
        }
      }
    }
  }
}
// Selection section
.notre__selection {
  min-height: 60vh;
  padding: 3em 2em;
  @include mxn.flex-center(row);
  justify-content: space-between;
  background: linear-gradient(white, clr.$primary-green);
  box-shadow: 0px 10px 10px rgba(black, 0.5);
  @include mxn.xl {
    padding: 3em 1em;
  }
  @include mxn.lg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  @include mxn.sm {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
  .selection__card {
    // Intersection observer
    opacity: 0;
    border-radius: 20%;
    overflow: hidden;
    background: clr.$primary-bnp;
    box-shadow: clr.$box-shadow-dark;
    height: 100%;
    width: 20%;
    transition: opacity 1s ease-in;
    border: 1px solid rgba(white, 0.5);
    @include mxn.xl {
      width: 24%;
    }
    @include mxn.lg {
      width: 80%;
      margin-inline: auto;
      height: 40vh;
    }
    @include mxn.sm {
      width: 60%;
      margin-inline: auto;
      height: 50vh;
    }
    @include mxn.xs {
      width: 90%;
    }
    &.appear {
      opacity: 1;
    }
    .card__content {
      padding: 1em;
      height: 20%;
      margin-bottom: 2em;
      text-align: center;
      color: rgba(white, 0.8);
    }
    h2 {
      font-size: 1.4em;
      font-weight: 400;
      color: white;
      height: 70%;
      text-align: center;
      line-height: 1;
      @include mxn.xl {
        font-size: 1.2rem;
        padding-inline: 1rem;
      }
      @include mxn.md {
        font-size: 1.1rem;
      }
    }
    .card__img {
      height: 40vh;
      border-radius: 20%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &.one {
        background-image: url("/assets/bnp/BNP_15_05_visuel_site_bledi_750.jpg");
      }
      &.two {
        background-image: url("/assets/bnp/BNP_15_05_visuel_site_taux_bonifie_750.jpg");
      }
      &.three {
        background-image: url("/assets/bnp/BNP_15_05_visuel_site_immo_jeunes_750.jpg");
      }
      &.four {
        background-image: url("/assets/bnp/BNP_15_05_visuel_site_esprit_libre_750.jpg");
      }
      &.pone {
        background-image: url("/assets/bnp/pro2.jpg");
      }
      &.ptwo {
        background-image: url("/assets/bnp/pro1.jpg");
      }
      &.pthree {
        background-image: url("/assets/bnp/pro3.jpg");
      }
      &.pfour {
        background-image: url("/assets/bnp/BNP_15_05_visuel_site_esprit_libre_750.jpg");
      }
    }
  }
}
.trouver__une__agence {
  width: 100%;
  background-color: rgba(clr.$primary-bnp, 0.6);
  box-shadow: clr.$box-shadow-dark;
  h1 {
    text-transform: uppercase;
    position: relative;
    width: 100%;
    cursor: pointer;
    height: 100%;
    color: rgba(white, 0.85);
    text-align: center;
    padding-block: 1em;
    &::after {
      content: "";
      position: absolute;
      height: 0.45em;
      aspect-ratio: 1;
      border: 1px solid white;
      border-width: 0 3px 3px 0;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-135deg);
      transition: transform 500ms ease-in-out;
    }
    &.appear::after {
      transform: translate(-50%, -100%) rotate(45deg);
    }
  }
  #map {
    z-index: 0;
    margin-inline: auto;
    width: 100%;
    height: 50vh;
    aspect-ratio: 2;
    transition: all 500ms ease-in;
    &.appear {
      height: 0vh;
    }
  }
}
form {
  background: clr.$primary-bnp;
  color: rgba(white, 0.9);
  max-height: 70vh;
  overflow-y: scroll;
  width: 30%;

  .step.one,
  .step.two {
    padding: 1em;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .form__groupe {
      padding: 1em;
      width: 100%;
      @include mxn.flex-center(row);
      justify-content: space-between;
      gap: 1em;
      flex-direction: column;
      input,
      select,
      button,
      textarea {
        background: transparent;
        border: 1px solid rgba(white, 0.3);
        border-radius: 1em;
        outline: none;
        padding: 1em;
        width: 70%;
      }
      select {
        background: clr.$primary-bnp;
      }
      input::placeholder,
      textarea::placeholder {
        color: rgba(white, 0.7);
      }
      button,
      input[type="submit"] {
        cursor: pointer;
        transition: background 200ms ease-in-out;
        &:hover {
          background: clr.$secondary-green;
        }
      }
    }
  }
  .step {
    display: none !important;
    &.active {
      display: flex !important;
    }
  }
}
// Témoignage
.temoignage {
  width: 100%;
  padding: 4em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: clr.$primary-bnp-opacity;
  box-shadow: clr.$box-shadow-dark;
  color: rgba(white, 0.85);
  margin-bottom: 5em;
  @include mxn.md {
    grid-template-columns: repeat(1, 1fr);
    gap: 1em;
  }
  @include mxn.sm {
    padding: 2rem;
  }
  @include mxn.xs {
    padding: 1rem;
  }
  button {
    width: 100%;
    background-image: url("/assets/bnp/building.jpg");
    background-color: rgba(black, 0.7);
    background-blend-mode: multiply;
    border: 1px solid clr.$primary-bnp;
    border-radius: 100vw;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    font-size: 2em;
    font-weight: 600;
    transition: all 300ms ease-in-out;
    @include mxn.md {
      padding: 1rem;
    }
    &:hover {
      filter: invert(200%);
    }
  }
  .single__tem {
    width: 100%;
    @include mxn.flex-center(column);
    gap: 0.5rem;
    .icon {
      width: 5em;
      aspect-ratio: 1;
      background-image: url("/assets/portrait/istockphoto-536932782-612x612.jpg");
      background-size: cover;
      background-position: center;
      border-radius: 50%;
    }
    .info {
      font-weight: 600;
      font-size: 1.2em;
    }
    p {
      text-align: justify;
      width: 50%;
      @include mxn.sm {
        width: 70%;
      }
      @include mxn.xs {
        width: 90%;
      }
    }
    &:nth-last-of-type(2) {
      .icon {
        background-image: url("/assets/portrait/Laurent-Breillat_web-610x407.jpg");
      }
    }
  }
}

/* Full-width input fields */
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="number"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.registerbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 1;
}

/* Add a GREEN text color to links */
a {
  color: #04aa6d;
}

/* Set a grey background color and center the text of the "sign in" section */

//modal
.form {
  width: 40%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(white, 0.4);
  border-radius: 2em;
  &::backdrop {
    backdrop-filter: blur(20px);
  }

  form {
    width: 100%;
  }
}
