
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: "Tajawal", sans-serif;
    overflow-x: hidden;
}
.nav__bar {
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.4);
    background: white;
    width: 100%;
    padding: 1em 3em;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 10px solid #014e2b;
    height: 80px;
}
.nav__bar .logo {
    position: relative;
    width: 12.5%;
    top: 30px;
}
.nav__bar ul {
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.nav__bar ul li {
    text-align: center;
}
.nav__bar ul li a {
    font-weight: 600;
    position: relative;
    color: #014e2b;
    transition: all 200ms ease-in-out;
}
.nav__bar ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background: rgba(1, 78, 43, 0.7);
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 300ms ease-in-out;
}
.nav__bar ul li a:hover {
    color: rgba(1, 78, 43, 0.7);
}
.nav__bar ul li a:hover::after {
    width: 100%;
}
.nav__bar .loupe {
    width: 25px;
    cursor: pointer;
    fill: #014e2b;
    opacity: 0.6;
    transition: all 250ms ease-in-out;
}
.nav__bar .loupe:hover {
    transform: scale(1.1);
    opacity: 1;
}
.nav__bar .search__bar__container {
    position: absolute;
    z-index: -99;
    top: 100%;
    background-color: #014e2b;
    padding: 1em 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    transform: translateX(100%);
    right: 0;
    transition: transform 400ms ease-in-out;
    border-bottom-left-radius: 2em;
}
.nav__bar .search__bar__container input[type="search"] {
    padding: 0.75em 1em;
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
}
.nav__bar .search__bar__container.appear {
    transform: translateX(0);
}













 /* style du titre h1 qui est la page dedier aux particuliers */
 
 h1 { 
    text-align: center;
    color:white;
    animation: titre ease 5s; /*durée de l'animation en seconde*/


}
/*annimation du titre h1 et son pacity*/
@keyframes titre {
    0%{
        opacity: 0;
        transform:translateX(180px);
    }
    100%{
        opacity: 1;
        transform:translateX(0px) ;
    }
}
h2 {
    text-align: center;
}
/*l'image background et ses caracteristique*/
.cc-list {
    background:url(imgbnp/CARTES-1-2000.png)center center fixed ;
    background-size: cover;
    height:auto;width: 100%;
    

}
/*style pour le conteuneur-1 qui regroupe les cartes qui représentent l'offre de bnp aux particulier*/ 
.div.contenair-1 div.row {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
/* style pour toutes les cartes*/
div.card {
    background-color: #52ba96;
    

}
/*hauteur specifique aux carte du contenair-1 pour les organiser lors du changement d'écran d'utilisateur*/
.div.contenair-1 div.card{
    height: 180px;

    
}
/*style apliqué aux boutton*/
a.btn {
    background-color: #014e2b;
    color:white;

}
/*style des h5 qui sont les offres de bnp aux particulier qu'on mis sous forme de titre de carte*/  
h5{
    color: white;
}


/*notre footer*/



footer{
    width: 100%;
    /* position:absolute; */
    bottom: 0;
    /* background: linear-gradient(to right,#52ba96,#014e2b); */
    
    background-color: #142026;
    color: white;
    padding: 40px 0 30px ;
    border-top-left-radius: 125px ;
    border-top-right-radius: 125px;
    font-size: 13px;
    line-height: 20px;
} 

.row-n{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between ;
}

.col-n{
    flex-basis: 25%;
    padding: 10px ;

}

.logo{
    width: 200px;
    height: 100px;   
}

.col-n h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    color: #03a776;
}

.follow {
    text-align: center;
    background-color: #03a776;
    

}

.reseaux{
    
    height: 30px;
    width: 40px;
    /* position: relative; */
    left: 655px;  
} 
