$primary-green: #014e2b;
$primary-bnp: #039360;
$primary-bnp-opacity: rgba(#039360, 0.5);
$primary-green-opacity: rgba(1, 78, 43, 0.6);
$secondary-green: #52ba96;
$secondary-green-opacity: rgba(82, 186, 150, 0.6);
$primary-orange: #ff6900;
$primary-yellow: #fcb900;
$box-shadow-dark: 0px 5px 10px rgba(black, 0.5);
$box-shadow-light: 0px 4px 10px rgba(white, 0.4);
