@use "../components/navbar";
@use "../utils/colors" as clr;
@use "../utils/mixins" as mxn;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Tajawal", sans-serif;
  overflow-x: hidden;
}
.hero__section {
  height: 100vh;
  width: 100vw;
  position: relative;
  .image {
    width: 100%;
    object-fit: contain;
  }

  .texte {
    h1 {
      position: absolute;
      font-size: 50px;
      width: 40%;
      left: 4rem;
      top: 20%;
      color: rgba(white, 0.95);
      font-weight: 400;
    }
    h3 {
      position: absolute;
      font-size: 20px;
      width: 40%;
      top: 30%;
      color: white;
      text-align: center;
    }
  }
  .espace-candidat {
    position: absolute;
    background-color: rgba(white, 0.8);
    border: 1px solid rgab(black, 0.4);
    box-shadow: clr.$box-shadow-dark;
    border-color: black;
    border-radius: 1em;
    max-width: 20%;
    right: 20%;
    top: 50%;
    padding: 2rem;
    text-align: center;
    transform: translateY(-100%);
    p {
      padding-block: 1rem;
    }
    button {
      color: white;
      background-color: black;
      border-radius: 20px;
      padding: 1rem;
      border: none;
      outline: none;
      cursor: pointer;
      box-shadow: clr.$box-shadow-dark;
      transition: all 200ms ease-in;
      &:hover {
        transform: translateX(1px);
        box-shadow: none;
      }
    }
  }
  .barre-recherche {
    position: relative;
    width: 60%;
    margin-inline: auto;
    height: fit-content;
    border-radius: 30px;
    border: solid rgba(black, 0.2) 1px;
    padding: 2rem;
    bottom: 2rem;
    box-shadow: clr.$box-shadow-dark;
    .box {
      width: 100%;
      form {
        width: 100%;
        input[type="text"] {
          background: #fff;
          height: 35px;
          outline: none;
          width: 100%;
          padding: 1rem;
          border-radius: 1rem;
          border: none;
          color: rgba(white, 0.8);
          background: rgba(black, 0.8);
          border: 1px solid rgab(black, 0.4);
          margin-bottom: 0.5rem;
          &::placeholder {
            color: rgba(white, 0.75);
          }
        }
      }
      .dropdown1 {
        width: 100%;
        overflow: hidden;
        select {
          width: 100%;
          padding: 1rem;
          border-radius: 1rem;
          background: rgba(black, 0.8);
          color: rgba(white, 0.8);
          margin-bottom: 0.5rem;
        }
      }
      .dropdown2,
      .dropdown3 {
        @extend .dropdown1;
      }
    }
  }
}

.offres {
  width: 100%;
  margin-block: 10rem;
  @include mxn.flex-center(column);
  gap: 1em;
  .item {
    width: 60%;
    height: 40px;
    padding: 50px 0 80px;
    border: solid rgba(black, 0.3) 1px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    padding-left: 5%;
    @include mxn.flex-center(column);
    align-items: start;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 95%;
      background-color: clr.$primary-bnp;
    }
    h5 {
      color: #014e2b;
    }
    h3 {
      color: black;
      font-size: 25px;
    }
    P {
      color: red;
      font-size: 12px;
    }
  }
}

//Footer
@import "../components/footer";
